<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StationCAD_Web" connectionString="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_993883_stationcad;User Id=DB_993883_stationcad_admin;Password=station!cad;" providerName="System.Data.SqlClient" />
    <add name="NLogDb" connectionString="Data Source=SQL5025.Smarterasp.net;Initial Catalog=DB_993883_Logging;User Id=DB_993883_Logging_admin;Password=L0gg!ng!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_993883_stationcad;User Id=DB_993883_stationcad_admin;Password=station!cad;" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>