@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>StationCAD</h1>
    <p class="lead">StationCAD is a web-based application that wil allow you to track incidents your organization has been assigned to by the dispatching agency.</p>
    <p>@Html.ActionLink("Learn more", "about", "home", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            StationCAD receives incident information directly from your organizations dispatching agency.  After receiving this 
            data, the incident is stored for viewing while notifications are simultaneously sent to your users.  Notifications 
            can be sent via email, text message, and mobile push notifications (currently only supporting Android).  StationCAD
            also allows for incident geolocation and mapping...
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p>While in beta, StationCAD is free for all users.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>