@model System.Web.Mvc.HandleErrorInfo

<h3>Oops...</h3>
<p>
    You must confirm your email address to log in.
</p>
<p>
    If you need to resend your confirmation email, click <a href="@ViewBag.callBack">here</a>.
</p>
