@model StationCAD.Model.Organization


@{
    ViewBag.Title = "Incidents";
}

<h2>@Model.Name Recent Incidents</h2>

<section id="incidentDetail">
    <div>
        @Html.Partial("_details", Model)
    </div>  

</section>

<section id="incidentList">

</section>

