@model StationCAD.Model.Organization


@{
    ViewBag.Title = "Incidents";
}

<h2>@Model.Name Recent Incidents</h2>

<section id="incidentDetail">

</section>

<section id="incidentList">

</section>

