<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- StationCAD app config data -->
    <add key="OneSignalAPIKey" value="Zjc5MWRhZGItYmUyMC00Mzc5LTliNjgtOGNiMTQ2MTA1ZWVj"/>
    <add key="ClickatellKey" value="jSjuhod7F5faipzb0p35qgSY6pNWK1aoYknxgbwi0sYAyPXYyHLQgoorkI0NkNy6R"/>
    <add key="mailgunKey" value="key-de1400fb78a26f816869710dc7f3eddc" />
    <add key="mailgunDomain" value="station-cad.graphitegear.com"/>
    <add key="mailgunAPIUri" value="https://api.mailgun.net/v3"/>
    <add key="mongoDBUri" value="mongodb://gg-web:station!cad@ds045475.mongolab.com:45475/stationcad-dev"/>
    <add key="environment" value="dev"/>
    <add key="enableSMSGateway" value="false" />
  </appSettings>
</configuration>