<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StationCAD_Web" connectionString="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_993883_stationcad;User Id=DB_993883_stationcad_admin;Password=station!cad;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- StationCAD app config data -->
    <add key="GoogleAPIKey" value="AIzaSyCosK7Ly-fHEC0wIIx4Q6OWVbeTJjmY4W0" />
    <add key="OneSignalAPIKey" value="Zjc5MWRhZGItYmUyMC00Mzc5LTliNjgtOGNiMTQ2MTA1ZWVj" />
    <add key="ClickatellKey" value="jSjuhod7F5faipzb0p35qgSY6pNWK1aoYknxgbwi0sYAyPXYyHLQgoorkI0NkNy6R" />
    <add key="mailgunKey" value="key-de1400fb78a26f816869710dc7f3eddc" />
    <add key="mailgunDomain" value="stationcad.graphitegear.com" />
    <add key="mailgunAPIUri" value="https://api.mailgun.net/v3" />
    <add key="mongoDBUri" value="mongodb://gg-web:station!cad@ds045475.mongolab.com:45475/stationcad-dev" />
    <add key="environment" value="dev" />
    <add key="enableSMSGateway" value="false" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>